.container {
  width: 1170px;
  margin: 0 auto;
}
.header {
  background-image: url("./image/Group 231A 1.png");
  background-repeat: no-repeat;
  position: relative;
  background-color: var(--s-red);
  background-size: 80%;
  background-position: right;
  height: 900px;
  color: var(--s-yellow);
}
.header .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.header .content {
  width: 50%;
}
.header .title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: var(--font-size-34xl);
  font-family: var(--font);
}

.header .discription {
  font-size: var(--sparkling-subtit-size);
  color: var(--gray-text-body);
  width: 70%;
  margin: 40px 0 60px 0;
}
.header .content a {
  text-decoration: none;
  background-color: var(--s-yellow);
  padding: 15px 50px;
  border: none;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--s-red);
  border-radius: 40px;
}
.header .content a:hover {
  background-color: var(--s-text);
  color: var(--white);
}
.benefits {
  margin: 100px 0;
}

.benefits .benefit-list {
  display: flex;
  justify-content: space-around;
}

.benefits .title {
  color: var(--s-red);
  font-size: var(--font-size);
  font-weight: 700;
  text-align: center;
  font-family: var(--font);
  margin-bottom: 50px;
}

.benefits .benefits1 {
  background-color: var(--s-yellow);
  border-radius: 50px;
  width: 368px;
  height: 321px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefits .benefit-list .title {
  font-size: var(--font-size-5xl);
  font-weight: 600;
  font-family: var(--sparkling-subtit);
  margin: 0;
}

.benefits .benefit-list .content {
  width: 50%;
  margin-left: 20px;
}
.time {
  background-image: url("./image/jeshoots-com-7VOyZ0-iO0o-unsplash 1.png");
  background-size: cover;
  height: 565px;
}
.time .container {
  justify-content: center;
}
.time .content {
  color: var(--s-red);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.time .content .title {
  font-size: var(--font-size);
  text-transform: none;
  color: var(--s-yellow);
  font-family: var(--font);
  font-weight: 700;
  text-align: center;
}

.time .count-down {
  display: flex;
}

.time .box {
  width: 150px;
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  margin-right: 30px;
  margin-top: 50px;
  background-color: var(--white);
  border-radius: 50%;
}

.time .box .number {
  font-size: var(--font-size);
  font-weight: 700;
}

.time .box .text {
  font-size: var(--font-size-xl);
  font-weight: 500;
}

.write-holiday {
  height: 548px;
  display: flex;
}
.write-holiday img {
  width: 50%;
  object-fit: cover;
}

.write-holiday .container {
  color: var(--s-yellow);
  background-color: var(--s-red);
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.write-holiday .content {
  width: 585px;
}

.write-holiday .title {
  font-weight: 700;
  font-size: var(--font-size);
  font-family: var(--font);
  text-transform: none;
  margin-bottom: 50px;
}

.write-holiday .discription {
  font-size: 18px;
}

.sale-up {
  text-align: center;
  background-color: var(--yellow);
  padding: 0 10%;
  margin-top: 100px;
}
.sale-up .sale {
  color: var(--s-text);
  font-size: var(--font-size-5xl);
  margin-bottom: 20px;
  font-weight: 600;
}

.sale-up .collection {
  font-size: var(--font-size);
  font-weight: 700;
  color: var(--color-brown-100);
  font-family: var(--font);
  margin-bottom: 30px;
}
.sale-up .product {
  width: 270px;
  margin: 30px 15px 50px;
}

.sale-up .gifts {
  margin: 50px auto 20px;
}
.sale-up .gifts .title {
  font-size: var(--font-size-17xl);
  font-weight: 700;
  color: var(--s-text);
  text-transform: uppercase;
}
.sale-up .collection-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
}
.sale-up .image {
  height: 340px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sale-up .infor .name {
  color: var(--s-text);
  font-size: var(--font-size-xl);
  font-weight: 500;
}

.sale-up .price {
  display: flex;
  font-size: var(--font-size-xl);
  justify-content: center;
  margin: 10px 0 40px;
}

.sale-up .price .old-price {
  color: var(--s-text);
  text-decoration: line-through;
}

.sale-up .price .new-price {
  color: var(--s-red);
  margin-left: 10px;
}

.sale-up a {
  text-decoration: none;
  padding: 10px 20px;
  width: 50%;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--s-red);
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

.sale-up a:hover {
  background-color: var(--s-text);
  font-weight: 700;
}

.testimonials {
  text-align: center;
  background-image: url("./image/header-sparkling-09\ 1.png");
  background-size: cover;
  height: 565px;
}
.testimonials .container {
  flex-direction: column;
}

.testimonials .title {
  padding-top: 50px;
  text-align: center;
  color: var(--s-yellow);
  font-size: var(--font-size);
}

.testimonials .discription {
  text-align: center;
  font-size: var(--sparkling-subtit-size);
  color: var(--s-yellow);
  margin-bottom: 40px;
  width: 100%;
}

.testimonials .author {
  width: 50%;
}
.testimonials .review .content {
  width: 80%;
  margin: 50px auto 20px;
  font-size: 14px;
}

.testimonials .review .name {
  text-transform: uppercase;
  font-size: var(--sparkling-subtit-size);
  margin: 15px 0 50px;
}

.testimonials .review .ava img {
  border-radius: 50%;
  margin-top: 20px;
}

.testimonials .review {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials .icon {
  cursor: pointer;
  font-size: 25px;
}

.subscribe {
  text-align: center;
  padding: 70px 0;
}

.subscribe .title {
  font-size: var(--font-size);
  font-weight: 700;
  color: var(--s-red);
  font-family: var(--font);
}

.subscribe .form-subscribe {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.subscribe .form-subscribe input {
  width: 20%;
  height: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 10px;
  border-color: var(--s-red);
}

.subscribe .form-subscribe .button-subscribe {
  text-transform: uppercase;
  color: #fff;
  font-size: var(--sparkling-subtit-size);
  width: 150px;
  background-color: var(--color-brown-100);
  padding: 15px;
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.subscribe .form-subscribe .button-subscribe:hover {
  background-color: var(--s-text);
}

.action {
  background-image: url("./image/pexels-giftpunditscom-1303094 1.png");
  background-size: cover;
  height: 680px;
}

.action .container {
  align-items: flex-start;
}

.action .content {
  color: var(--s-red);
  width: 100%;
  margin: 100px auto 0;
  text-align: center;
}

.action .title {
  font-size: var(--font-size);
  font-weight: 700;
  text-transform: none;
}

.action .discription {
  width: 100%;
  text-align: center;
}

.action a {
  text-decoration: none;
}

.action .content a {
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-weight: 600;
  background-color: var(--s-red);
  width: fit-content;
}

.action .content a:hover {
  background-color: var(--s-text);
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .container {
    width: 344px;
  }
  .header {
    background-image: url("./image/Group 231 2.png");
    background-size: contain;
    background-position: top;
    height: 700px;
  }
  .header .container {
    align-items: flex-start;
  }
  .header .content {
    width: 80%;
    margin: 100px auto;
  }
  .header .title {
    font-size: var(--font-size-17xl);
  }
  .header .discription {
    font-size: 13px;
    width: 100%;
  }
  .header .content a {
    padding: 15px 30px;
    font-size: var(--sparkling-subtit-size);
  }
  .benefits {
    margin: 0 0 50px;
  }
  .benefits .title {
    font-size: var(--font-size-5xl);
    margin: 50px 10%;
  }
  .benefits .benefits1 {
    border-radius: 30px;
    width: 108px;
    height: 109px;
    margin-left: 10px;
  }
  .benefits .benefits1:first-child {
    margin-left: 0;
  }
  .benefits .benefits1 .icon img {
    width: 56px;
  }
  .benefits .benefit-list .title {
    font-size: 14px;
  }
  .benefits .benefit-list .content {
    width: 70%;
    margin-left: 0;
  }
  .time {
    background-image: url("./image/jeshoots-com-7VOyZ0-iO0o-unsplash 1.png");
    height: 324px;
    background-size: cover;
  }

  .time .content .title {
    font-size: var(--font-size-5xl);
  }
  .time .box {
    width: 74px;
    height: 74px;
    margin: 20px 5px;
  }
  .time .box .number {
    font-size: var(--font-size-5xl);
  }
  .time .box .text {
    font-size: 12px;
  }
  .time .content {
    width: 100%;
  }
  .write-holiday {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    height: fit-content;
  }
  .write-holiday img {
    width: 100%;
  }

  .write-holiday .container {
    width: 100%;
  }
  .write-holiday .content {
    width: 80%;
    margin: 0 auto;
    padding: 10%;
  }
  .write-holiday .discription {
    width: 100%;
    font-size: 13px;
  }
  .write-holiday .title {
    font-size: var(--font-size-5xl);
    margin-bottom: 30px;
  }
  .sale-up {
    margin: 0;
    padding: 0;
  }

  .sale-up .sale {
    font-size: 14px;
    padding-top: 50px;
  }

  .sale-up .collection-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .sale-up .collection {
    font-size: var(--font-size-5xl);
    margin-bottom: 30px;
  }
  .sale-up .product {
    width: 103px;
  }
  .sale-up .image img {
    width: 118.44px;
    height: 159.14px;
  }
  .sale-up .gifts {
    margin: 0;
  }
  .sale-up .gifts .title {
    font-size: 22px;
  }
  .sale-up .image {
    height: fit-content;
    margin-bottom: 20px;
  }
  .sale-up .infor .name {
    font-size: 14px;
  }
  .sale-up .price {
    font-size: 14px;
  }
  .sale-up a {
    padding: 10px 10px;
    width: 100%;
    font-size: 12px;
  }
  .testimonials {
    background-image: url("./image/header-sparkling-10 2.png");
    height: 500px;
    background-size: cover;
  }
  .testimonials .title {
    font-size: var(--font-size-5xl);
    margin: 0 auto;
  }
  .testimonials .discription {
    font-size: 13px;
    width: 90%;
    margin: 20px auto;
  }
  .testimonials .author {
    width: 100%;
  }
  .testimonials .review .content {
    width: 90%;
    margin: auto auto;
    font-size: 12px;
    text-align: center;
    font-weight: 300;
    margin-top: 20px;
  }
  .testimonials .review .name {
    font-size: var(--sparkling-subtit-size);
    margin: 40px 0 20px;
  }
  .subscribe {
    padding: 50px 0;
  }
  .subscribe .title {
    font-size: var(--font-size-5xl);
    width: 60%;
    margin: 0 auto;
  }

  .subscribe .form-subscribe {
    margin:30px 0 0;
  }
  .subscribe .form-subscribe input {
    width: 50%;
  }
  .subscribe .form-subscribe .button-subscribe {
    font-size: 12px;
    width: 100px;
    text-align: center;
  }
  .action {
    background-image: url("./image/pexels-giftpunditscom-1303094 1.png");
    background-size: cover;
    height: 310px;
  }

  .action .container {
    align-items: flex-start;
  }
  .action .content {
    text-align: center;
    margin: 20px auto;
    width: 100%;
  }
  .action .title {
    width: 60%;
    font-size: var(--font-size-5xl);
    margin: auto;
  }
  .action .discription {
    margin: 10px 0 20px;
  }
  .action a {
    margin: 0 auto;
    display: inline-block;

  }
  .action .content a {
    font-size: 16px;
  }
}
